// 設定斷點
@media screen and (max-width: 767px) {
  .user {
    background-color: rgb(154, 154, 154);
  }
  // 導覽列 關
  .navbar.navbar-none {
    // display: none;
  }

  // 導覽列圖示文字 關
  .navbar-title-none {
    display: none;
  }

  // 滑鼠移動 定位參考點
  .nav-item {
    position: relative;
  }
  // 滑鼠移動 關 提示字
  .navbar-title-hover{
    display: none;
  }
  // 滑鼠移動 開 提示字
  .nav-item:hover .navbar-title-hover {
    position: absolute;
    left: 100%;
    z-index: 2;
    display: block;
  }

}

@media screen and (min-width: 768px) {
  // 導覽列圖示 位置調整
  .navbar {
    align-items: end;
  }
  // 導覽列圖示文字 關
  .navbar-title-none {
    display: none;
  }

  // 滑鼠移動 定位參考點
  .nav-item {
    position: relative;
  }
  // 滑鼠移動 關 提示字
  .navbar-title-hover{
    display: none;
  }
  // 滑鼠移動 開 提示字
  .nav-item:hover .navbar-title-hover {
    position: absolute;
    left: 100%;
    z-index: 2;
    display: block;
  }

}

@media screen and (min-width: 1024px) {
  // 導覽列圖示 位置調整
  .navbar {
    align-items: stretch;
  }

  // 熱門列表 關
  .popular {
    display: block;
  }

  // 導覽列圖示文字 關
  .navbar-title-none {
    display: block;
  }

  // 滑鼠移動 關 提示字
  .nav-item:hover .navbar-title-hover {
    display: none;
  }
}
